@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background: #EEF2FF;
}
.custom-nav-background {
    background: #313552;
}

.navbar-toggler {
    border: none !important;
}